server:
  port: 8888

management:
  context-path: /admin

logging:
  level:
    com.netflix.discovery: 'OFF'
    org.springframework.cloud: 'DEBUG'

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/pperboires/spring-config-server-repo
          basedir: target/config


---
spring:
  profiles: cloud
  application:
    name: configserver